Matching jwt token against a regex (REOPEN)

Hi,

Please see issue #162

We have a similar issue with tokens being rejected by the regex when they include base64url padding (`=` characters). If we preprocess the header to remove the `=` characters, then we cannot validate the token's signature against the public key of the token issuer's certificate.

This is the comment in #162 made by jfromaniello : 

> It can't have a = because the JWT should be base64 url encoded. If it has an = it might be bas64 but is not properly url encoded.

RFC for JWT : https://tools.ietf.org/html/rfc7519#section-3

>  A JWT is represented as a sequence of URL-safe parts separated by
   period ('.') characters.  Each part contains a base64url-encoded
   value.

According to Wikipedia, in base64url the padding `=` characters are optional : 

https://en.wikipedia.org/wiki/Base64#Variants_summary_table 

According to RFC 4648 : https://tools.ietf.org/html/rfc4648#section-5

> The pad character "=" is typically percent-encoded when used in an
   URI [9], but if the data length is known implicitly, this can be
   avoided by skipping the padding; see section 3.2.

Thus, the response to the issue #162 seems wrong. The character `=` should be allowed. It also should be read either as-is, or URL-encoded as `%3D`. The RFC does not state that there *must not* be any padding, but that the issuer *can* omit it under some conditions.

And in my opinion the current implementation not allowing the processing of such tokens is a bug. 



Just need to be looking at the right RFC.

JWS RFC Section 2 (Terminology):

>Base64url Encoding
>      Base64 encoding using the URL- and filename-safe character set
>      defined in Section 5 of RFC 4648 [RFC4648], with all trailing '='
>      characters omitted (as permitted by Section 3.2) and without the
>      inclusion of any line breaks, whitespace, or other additional
>      characters.  Note that the base64url encoding of the empty octet
>      sequence is the empty string.  (See Appendix C for notes on
>      implementing base64url encoding without padding.)

https://tools.ietf.org/html/rfc7515#section-2

Also note, from the JWT RFC, Section 2, Terminology:

>The terms "JSON Web Signature (JWS)", "Base64url Encoding", "Header
>   Parameter", "JOSE Header", "JWS Compact Serialization", "JWS
>   Payload", "JWS Signature", and "Unsecured JWS" are defined by the JWS
>   specification [JWS].